{% extends "base.html" %}
{% block content %}
	<div>
		Hi, my name is Constantine Panfilov. I'm python developer.<br />
		This is a bookshelf - test app made for prom.ua.
		It contains authorisation, a couple of pages where you can add authors
		or books, a simple search engine - you can search by book title or author's
		name. Books and authors has Many-To-Many relationship so you can link them
		between each other. Give it a try, make some fun.
		<br /><br />

		Used technologies:
		<ul>
			<li>Flask</li>
			<li>SQLAlchemy(Declarative)</li>
			<li>SQLite RDBMS (Postgres on Heroku)</li>
			<li>Alembic migrate tool</li>
			<li>Jinja2 Templates</li>
			<li>WTForms</li>
			<li>Flask-Bootstrap</li>
		</ul>
	</div>
{% endblock %}
