{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<h3>Your authors list:</h3>

<div class="container b-content_container">
	<form class="form" method="POST" role="form">
		{{form.csrf_token}}
		{% for author_form in form.authors %}
			{{author_form.csrf_token}}
			{{author_form.author_id}}
			{{ wtf.form_field(author_form['name'], readonly=true)}}
			{{ wtf.form_field(author_form.edit)}}
			{{ wtf.form_field(author_form.delete)}}
			<hr />
		{% endfor %}
	</form>
</div>
<div>
<a href="{{ url_for('addauthor') }}" class='btn btn-primary b-btn'>Add Author</a>
<div>
{% endblock %}
