{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
	<h3>Your books list:</h3>

	<form class="form" method="POST" role="form">
		{{ form.csrf_token }}
		{{ wtf.form_errors(form, hiddens="only") }}
		{% for book_form in form.books %}
			{{ book_form.csrf_token }}
			{{ book_form.book_id }}
			{{ wtf.form_field(book_form.title, readonly=true) }}
			{{ wtf.form_field(book_form.edit) }}
			{{ wtf.form_field(book_form.delete) }}
			{% if book_form.authors %}
				<div>Written by:
					{% for author in book_form.authors %}
						{{author.data.name}}
					{% endfor %}
				</div>
			{% endif %}
		{% endfor %}
	</form>

	<div><a href="{{ url_for('addbook') }}" class='btn btn-primary b-content_btn'>Add Book</a></div>
{% endblock %}
