{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container b-content_container">
	<form class="form" method="POST" role="form">
		{{ form.csrf_token }}
		{{ wtf.form_field(form.username, placeholder="Username") }}
		{{ wtf.form_field(form.email, placeholder="E-mail") }}
		{{ wtf.form_field(form.password, placeholder="Password") }}
		{{ wtf.form_field(form.confirmpass, placeholder="Confirm password") }}
		{{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
	</form>
</div>
{% endblock %}
