{% extends "base.html" %}

{% block content %}

{% if form_errors %}
    {% for field in form_errors.keys() %}
        {% for error in form_errors[field] %}
            <div><h4>{{error}}</h4></div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form method="POST" action="{{url_for('register')}}">
    <div>
        {{form.csrf_token}}
        {{form.username (placeholder="Username")}}
        {{form.email (placeholder="E-mail")}}
        {{form.password (placeholder="Password")}}
        {{form.confirmpass (placeholder="Confirm password")}}
        {{form.submit}}
    </div>
</form>
{% endblock %}
