{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container b-content_container">
	<form class="form" method="POST" role="form">
		{{ form.csrf_token }}
		{{ wtf.form_errors(form, hiddens="only") }}
		{{ wtf.form_field(form.username) }}
		{{ wtf.form_field(form.email) }}
		{{ wtf.form_field(form.password) }}
		{{ wtf.form_field(form.confirmpass) }}
		{{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
	</form>
</div>
{% endblock %}
