{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    

<div class="container b-content_container">
	<h4>Search for book by title or author name</h4>
	<form class="form" method="POST" role="form">
		{{form.csrf_token}}
		{{ wtf.form_errors(form, hiddens="only") }}
		{{ wtf.form_field(form.search) }}
		{{ wtf.form_field(form.submit, button_map={'submit': 'primary'}) }}
	</form>
</div>

<div class="body b-content_container">
{% if result is string %}
	<label>{{ result }}</label>
{% else %}
	{% for book in result %}
		<p>
			<p><label>{{book.title}}</label><p>
			{% if book.authors %}
				<label>Written by:
					{{ book.authors | map(attribute='name') | join(', ') }}
				</label>
			{% endif %}
			<hr />
		</p>
	{% endfor %}
{% endif %}
</div>

{% endblock %}
